/* scaadabeebap boop */

:root {
    --softPink: #ebadbc;
    --popPink: #fc7fd9;
    --darkPink: #d75a78;
    --textGrey: #677369;
    --funkyGreen: #a3a447;
    --softGreen: #bfbe8b;
    --dirtBrown: #3e1820;
    --cream: #e6e3dc;
}

:root {
    --fontParadise:  "Birds of ParadisePERSONAL USE ONLY";
}

body {
    cursor:
        url("https://cdn.cursors-4u.net/css-previews/red-apple-being-eaten-1b24c7af-css.webp") 0 0,
        auto !important;
}

* {
    box-sizing: border-box;
    color: var(--textGrey);
}


a { 
     cursor: url('https://cdn.cursors-4u.net/css-previews/confused-onion-kun-5ff39751-css.webp') 1 1, auto !important;
}



@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf");
}

@font-face {
    font-family: "Tahoma Bold";
    src: url("fonts/Tahoma.ttf");
}

@font-face {
    font-family: "Milker";
    src: url("fonts/Milker.otf");
}

@font-face {
    font-family: "CROSS STITCH";
    src: url("fonts/CROSS STITCH.ttf")
}

@font-face {
    font-family: "Birds of ParadisePERSONAL USE ONLY";
    src: url("fonts/Birds of ParadisePERSONAL USE ONLY.ttf")
}


body {
    background-color: var(--funkyGreen);
    font-family:  "Tahoma";
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.backlogo {
     position: absolute;
     top: 0; left: 0;
     transform: translate(-20px, -0%);
    z-index: -1;
}


.logo {
    position: absolute;
    top: 0; left: 0;
     transform: translate(-50px, -100%);
}

.frontlogo h1 {
    font-family: var(--fontParadise);
    font-size: 5.5em;
    color: var(--cream);
    margin: 0;
}

.backlogo h1 {
    font-family: "CROSS STITCH";
    font-size: 4em;
    color: var(--darkPink);
    margin: 0;
    
}

.main {
    position: relative;
    align-self: center;
    background-color: var(--cream);
    box-shadow: 14px 14px var(--softGreen);
    padding: 10px;
    width: 850px;
    height: 480px; 
}

.boxgrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    height: 400px;
    width: 420px;
    overflow-y: auto;
}


#lastfm-widget {
    grid-column: 1 / span 2;
    background-color: var(--dirtBrown);
    display: flex;
    align-content: center;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

#albumcover {
    object-fit: cover;
    border: inset var(--popPink);
    height: 100%;
    width: 100%;  
}


.track-info {
    margin-right: 10px;
}

.track-title-wrapper {
    overflow-x: hidden;
    width: 280px;
    white-space: nowrap;
}

#tracktitle {
    display: inline-block;
    padding-left: 100%;
    animation: horzmarquee 10s linear infinite;
    font-family: "Milker";
    color: var(--popPink);
}

#trackartist {
    margin-top: 15px;
    
}
@keyframes horzmarquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.progresspage h1, .siteupdates h1 {
    font-family: var(--fontParadise);
    font-size: 1.5em;
    color: var(--dirtBrown);
    margin: 0;
}

.progresspage {
    grid-row: 2 / 3;
    background-color: var(--funkyGreen);
    border: solid #8b8b37;
    border-radius: 5px;
    padding: 6px;
}

.siteupdates {
    grid-column: 2/ 3;
    grid-row: 2 / 4;
    background: linear-gradient(var(--softPink) 20%, #e28297);
    border: solid var(--popPink);
    border-radius: 5px;
    padding: 6px;
    
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.stickyupdate {
    position: sticky;
    top: 0;
}

.updatescroll {
    padding-left: 10px; padding-right: 10px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--darkPink) transparent;  
}

.updates {
    font-family: "Milker";
    color: var(--cream);
}

.sitebuttons {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
    border: dashed var(--darkPink);

    min-width: 0;
}

.sitebuttons div
{
    padding: 5px;
}
.sitebuttons p {
    margin: 0 ;
    font-size: 0.8rem;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;

}


