:root {
    --softPink: #fec7c2 ;
    --forestGreen: #9fa043;
    --dirt: #371617;
    --popPink: #ff78d9;
    --beige: #f2eed9;
    
   /*---- fontly variables*/
    --fontParadise:  "Birds of ParadisePERSONAL USE ONLY";
}

@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf");
}

@font-face {
    font-family: "Tahoma Bold";
    src: url("fonts/Tahoma.ttf");
}

@font-face {
    font-family: "Milker";
    src: url("fonts/Milker.otf");
}

@font-face {
    font-family: "CROSS STITCH";
    src: url("fonts/CROSS STITCH.ttf")
}

@font-face {
    font-family: "Birds of ParadisePERSONAL USE ONLY";
    src: url("fonts/Birds of ParadisePERSONAL USE ONLY.ttf")
}

body {
    cursor:
        url("https://cdn.cursors-4u.net/css-previews/red-apple-being-eaten-1b24c7af-css.webp") 0 0,
        auto !important;
    
    /*---- display stuff*/
    background-color: #9fa043;
    display: flex;
    height: 100vh;
    margin: 0;
   
    /*---- positioning stuff*/
    justify-content: center;
    align-content: center;
    
    /*---- box model (margins, padding) stuff*/
    
     /*---- typography stuff*/
     font-family: "tahoma";
     font-size: 14.5px;
    
    
}

p, ul { 
    /*---- moreee typography stuff*/
 text-transform: lowercase;
 text-align: justify;
 color: #403838;
    
}

a { 
    /*---- upon link hovers, silly onion guy*/
     cursor: url('https://cdn.cursors-4u.net/css-previews/confused-onion-kun-5ff39751-css.webp') 1 1, auto !important;
}

.headersticker{
    
    position: fixed;
    width: 900px;
    right: -150px;
    z-index: -1;
}


header h1 {
    /*---- display tings*/
    position: absolute;
    margin: 0;
    top: 40px;
    right: 150px;
    
    font-family: var(--fontParadise);
    color: var(--beige);
    font-size: 80px;
    text-shadow: 4px 5px pink;
}

.page-wrapper {
    align-self: center;
}

.main-container {
    background-color: var(--beige);
    /*---- display tings*/
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    max-width: 800px; 
    height: 440px;
    position: relative;


    /*---- border deco*/
    border: 5px dotted var(--beige);
    background-clip: padding-box;
    
    /*---- box model (margins, padding) stuff*/
    padding: 10px;
    margin: 5px;
    z-index: 1;
    
}
    
.arbesco {
    position: absolute;
    width: 300px;
    right: -90px;
    bottom: -70px;
    z-index: -1;
}

.arbesco2 {
    position: absolute;
    width: 300px;
    left: -90px;
    top: -60px;
    transform: rotate(900deg);
    z-index: -1;
}
nav ul {
     /*---- nav base*/
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav li {
    background-color:#371617;
    width: 80px;
    height: 35px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
     /*---- conent align*/
    align-content: center;
    text-align: center;
    box-shadow: 3px 3.8px var(--forestGreen);
}

nav a {
    color:#f2eed9;
}

nav a:hover {
    color: pink;
    /*---- hover animation*/ 
    transition: all 0.5s ease-out;
}


#lastfm-widget {
    display: flex;
    width: 250px;
    height: 95px;
    background-color: var(--dirt);
    overflow: auto;
    
    /*---- decor*/
    border: 5px solid var(--popPink);
    border-radius: 30px;
    padding: 10px;
}

.lastfm-track-info {
    justify-self: center;
    align-content: center;
}
#lastfm-widget, .lastfm-track-info p {
    color: var(--beige);
}

.lastfm-track-info p {
    margin: 0px;
    font-family: "Milker";
}

#lastfm-widget a {
    color: pink;
}

.track-title-wrapper {
    margin: 10px 0px;
}

.lastfm-track-img {
    align-content: center;
    height: 100%;
    margin: 0px 12px;
    padding-right: 10px;
}

#album-cover {
    width: 75px;
    height: 75px;
    border: dashed var(--forestGreen) 3px;
}

#lastfm-track-info {
    display: flex;
    align-content: center;
}

#statuscafe {
    padding: 5px;
    height: 70px;
    background-color: var(--forestGreen);
    border: 4px solid #939429;
    border-radius: 30px;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.update-log {
    background-color: var(--softPink);
    margin: 0px;
    padding: 0px;
    height: 150px;
    border-radius: 30px;
    border: solid 4px #f3b3bf;
    overflow: scroll;
    scrollbar-color: var(--beige) transparent;  
}

.update-title {
    top: 0;
    position: sticky;
    background-color: var(--softPink);
}

.update-title > h3 {
    margin: 0;
    padding: 5px;
    justify-self: center;
    /*---- font*/  
    font-family: var(--fontParadise);
    font-size: 25px;
    color: var(--dirt);
    /*---- hover animation*/ 
    transition: all 0.5s ease-out;
}

.update-title > h3:hover { 
    color: var(--popPink);
}

.update-log > p {
    padding: 0px 15px;
    margin-top: 0px;
}

.update-log span {
    font-family: "Milker";
    font-size: 15px;
    color: var(--beige);
}


.in-progress {
    background-color: var(--forestGreen);
    margin: 0;
    padding: 0px;
    height: 150px;
    border-radius: 30px;
    border: solid 4px #8f9036;
    overflow: scroll;
    scrollbar-color: var(--beige) transparent;
}

.progress-title {
    top: 0;
    position: sticky;
    background-color: var(--forestGreen);
}

.progress-title > h3 {
    margin: 0;
    padding: 5px;
    justify-self: center;
    /*---- font*/  
    font-family: var(--fontParadise);
    font-size: 22px;
        color: var(--dirt);
    /*---- hover animation*/ 
    transition: all 0.5s ease-out;
}

.progress-title > h3:hover { 
    color: var(--beige);
}

.in-progress ul {
    padding: 0px 15px;
    margin-top: 0px;
    margin-left: 15px;
}

.in-progress li {
    margin-bottom: 10px;
}


